---
import topBarData from "../../../content/data/top-bar.json";
---

<div class="rounded-2xl bg-charcoal px-6 py-3 text-center" data-sb-object-id="content/data/top-bar.json">
  <p class="text-[13px] font-medium tracking-wide text-cream font-body" data-sb-field-path="message">
    {topBarData.message}&nbsp;&nbsp;&rarr;
  </p>
</div>
