---

---

<div class="rounded-2xl bg-charcoal px-6 py-3 text-center">
  <p class="text-[13px] font-medium tracking-wide text-cream font-body">
    Now accepting new patients at both Augusta &amp; Evans locations&nbsp;&nbsp;&rarr;
  </p>
</div>
